html,body {
  overflow: auto;
  margin:  0;
  height: 100%;
  padding: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.container{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;
  /*background: rgb(0, 0, 0);*/

}
#title{
  font-size: 2em;
  margin-bottom: 2%;
}
.wrapper{
  flex: 1;
}

#a{
  font-size: 1.2em;
}
.output-label{
  display:block;
}
btn-submit-url{
  color:white;
}
.primary-light{
  color: "##6ff9ff"
}
.primary-dark{
  color: "#0095a8"
}
.primary{
  color:"#26c6da"
}
.secondary{
  color: "#ff4081"
}
.secondary-light{
  color: "#ff79b0"
}
.secondary-dark{
  color: "#ff79b0"
}
